Generated_Source/
.cydsn/Generated_Source/
.cydsn/codegentemp/
.CO2_Sensor_IDE.pretty/
.Gerber/
.Internal Chamber-backups/
.SCD30/
.SCD30 Footprint/
.cydsn/*.rpt
*.cywrk.*
*.cyprj.*
*.aps
*.dep
*.bak
*.log
*.elf
*.hex
*.map
*.obj
*.a
*.o
*.bak
*.autosave
*-backup.*
*-cache.lib
*-rescue.lib
*-rescue.sch
*.kicad_pcb-bak
*.kicad_sch-bak
fp-info-cache
*.wrl
*.step
sandbox.py
